.dark-background{
    -fx-background-color: #222222;
}
.border-bottom{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #676767;
}
.bottom{
    -fx-background-color:  #009200;
    -fx-background-radius: 50;
}
.gardient{
    -fx-background-color: linear-gradient(to top,#676767,transparent);
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,8,0,0.2),10,0,8,10);
}
.bottom2{
    -fx-background-color: #222222;
    -fx-background-radius: 50;
}
.scroll-pane {
    -fx-background-color: black;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}
.primary_color{
    -fx-background-color: #181818;
}

.secondary-color{
    -fx-background-color: #121212;
}

.selected{
    -fx-border-color: #1ED760;
    -fx-border-width: 0 0 0 5
}

.top-border{
    -fx-border-color: #A1A1A1;
    -fx-border-width: 1 0 0 0;
}

.search-container{
    -fx-background-color: #fff;
    -fx-background-radius: 100;
}

.upgrade-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #fff;
    -fx-border-radius: 50;
}

.scroll-pane > .viewport{
    -fx-background-color: #181818;
}