.dark-background{
    -fx-background-color: #222222;
}
.border-bottom{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #676767;
}
.bottom{
    -fx-background-color:  transparent;
    -fx-background-radius: 50;
}
.gardient{
    -fx-background-color: linear-gradient(to top,#676767,transparent);
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,8,0,0.2),10,0,8,10);
}
.bottom2{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
}
.primary_color{
    -fx-background-color: white ;
}

.secondary-color{
    -fx-background-color: #121212;
}

.selected{
    -fx-border-color: #1ED760;
    -fx-border-width: 0 0 0 5
}

.top-border{
    -fx-border-color: #A1A1A1;
    -fx-border-width: 1 0 0 0;
}

.search-container{
    -fx-background-color: #fff;
    -fx-background-radius: 100;
}

.upgrade-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: black;
    -fx-border-color: #fff;
    -fx-border-radius: 50;
}

.scroll-pane > .viewport{
    -fx-background-color: transparent ;
}
.buttonFront:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.buttonFront {
    -fx-background-color: transparent;
}
.list-cell:selected:filled:hover {
    -fx-view-order: -1;
    -fx-effect: dropshadow(gaussian, #67676D, 12, 0.05, 0.0, 2);
}
.vbox {
    -fx-background-color:  #1b1e23;
    -fx-border-radius: 30px; /* sets the border radius to create rounded corners */
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5); /* adds a shadow effect */
}

.vbox:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 20, 0, 0, 10); /* adds a larger shadow effect on hover */
}
.hbox {
    -fx-background-color:  transparent;
    -fx-border-radius: 10px; /* sets the border radius to create rounded corners */
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5); /* adds a shadow effect */
}

.hbox:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 20, 0, 0, 10); /* adds a larger shadow effect on hover */
}
.white-pane {
    -fx-background-color: white;
    -fx-background-radius: 10px; /* sets the background radius to create rounded corners */
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5); /* adds a shadow effect */
    -fx-opacity: 1; /* sets the opacity to 1 by default */
}

.scroll-pane {
    -fx-background-color: transparent;
}
.buttonF:hover {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 2, 2);
}
.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}
.pad{
   -fx-padding : 10;
   -fx-border-style: solid inside;
   -fx-border-width:2;
   -fx-border-insets:5;
   -fx-border-radius:5;
-fx-border-color: white;   
}
.table-view {
	-fx-border-color: transparent;
	-fx-background-color: transparent; /* OR  -fx-background-insets: 0.0; */
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
	-fx-background-color: transparent;
}
.table-view .column-header {
	-fx-background-color: -fx-light-grey-color;
	-fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
	-fx-font-weight: bold; 
	-fx-alignment: center-left;
}
.imageView-container {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.floating-pane {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-translate-y: -50px; /* adjust as needed */
    -fx-translate-x: 50px; /* adjust as needed */
    -fx-opacity: 0.9; /* adjust as needed */
}